@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px auto;
  max-width: 1200px;
}

.card {
  width: 300px;
  max-width: 300px;
  margin: 12px;
  padding: 1.5rem;
  color: #fff;
  border-radius: 5px;
  box-shadow: 7px 6px 20px -17px rgba(0, 0, 0, 1);
  cursor: pointer;
  background-color: #903749;
  border-radius: 30px;
}
.card:hover {
  transform: translateY(-4px);
}

p {
  color: black;
  font-family: 'Roboto', sans-serif;
}
